use flake

dotenv_if_exists .env

if [ -n "${EXPO_PRIVATE_SUPABASE_ACCESS_TOKEN:-}" ]; then
  export SUPABASE_ACCESS_TOKEN="$EXPO_PRIVATE_SUPABASE_ACCESS_TOKEN"
fi

export PATH="$PATH:$PWD/node_modules/.bin"
